MONGO_URI=
PORT=3000
JWT_SECRET=

SENDGRID_API_KEY=
EMAIL_FROM=
EMAIL_NAME=

EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_ORDER_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY= 
EMAILJS_PRIVATE_KEY=

BASE_URL=http://localhost:3000
